////
/// Breakpoint variables
///
/// @group media-queries
////

//
//  Em breakpoints
//

/// XXS (~320px)
/// @type {number}
$breakpoint-xxs: 20em !default;

/// XS (~560px)
/// @type {number}
$breakpoint-xs: 35em !default;

/// S (~768px)
/// @type {number}
$breakpoint-s: 48em !default;

/// Height S (~780px)
/// @type {number}
$breakpoint-height-s: 50em !default;

/// M (~960px)
/// @type {number}
$breakpoint-m: 60em !default;

/// L (~1024px)
/// @type {number}
$breakpoint-l: 64em !default;

$breakpoint-lx: 64.0625em !default;

/// XL (~1344px)
/// @type {number}
$breakpoint-xl: 96em !default;

//
//  Rem breakpoints
//

/// XXS (rem)
/// @type {number}
/// @deprecated
$breakpoint-rem-xxs: convert-length($breakpoint-xxs, rem) !default;

/// XS (rem)
/// @type {number}
$breakpoint-rem-xs: convert-length($breakpoint-xs, rem) !default;

/// S (rem)
/// @type {number}
$breakpoint-rem-s: convert-length($breakpoint-s, rem) !default;

/// M (rem)
/// @type {number}
$breakpoint-rem-m: convert-length($breakpoint-m, rem) !default;

/// L (rem)
/// @type {number}
$breakpoint-rem-l: convert-length($breakpoint-l, rem) !default;

/// XL (rem)
/// @type {number}
$breakpoint-rem-xl: convert-length($breakpoint-xl, rem) !default;