////
/// Colors
///
/// You can by convention use a prefix such as 'color-' to take advantage of the IDE autocompletion and filter colors
///
/// @group colors
////
$color-black: #000 !default;
$color-black-trans: rgba(0, 0, 0, 0.15) !default;
$color-black-light: #1a1a1a !default;
$color-white: #fff !default;
$color-white-trans: rgba(255, 255, 255, 0.3) !default;
$color-grey: #efeff5 !default;
$color-middle-grey: #464648 !default;
$color-dark-grey: #4a4a4a !default;
$color-grey-trans: rgba(12, 12, 36, 0.3) !default;
$color-grey-white: #ededed !default;
$color-grey-border: #d8d8d8 !default;
$color-grey-aside-border: #aaaab3 !default;
$color-grey-aside-dot: #bdbdc5 !default;
$color-grey-title: #9b9b9b !default;
$color-grey-text: #262626 !default;
$color-black-text: #1f1f1f !default;
$color-white-grey: #f8f8f8 !default;
$color-blue-grey: #0c0c25 !default;
$color-blue-dark: #222270 !default;
$color-orange: #f9b62b !default;
$color-grey-selected : #f5f9fd !default;
$color-orange-darker: #eeae29 !default;
