////
/// Font families
///
/// You can by convention use a prefix such as 'font-' to take advantage of the IDE autocompletion and filter fonts
///
/// Example of custom font:
/// @include font-face("Custom Font", font-files('custom-font.eot', 'custom-font.woff', 'custom-font.ttf', 'custom-font.svg#custom-font'), 'custom-font.eot');
/// $font-customFont: "Custom Font", sans-serif;
///
/// The fonts path is automatically added by the font-face mixin according to the specified one in config.rb
///
/// @group fonts
////

// Front Fonts
$Roboto: 'Roboto', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

$OpenSans: 'Open Sans', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,600,600italic,700,700italic,800,800italic);

$Lora: 'Lora', serif;
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);