.school-steps {
    .third-title {
        display: none;
        font-weight: 700;
        font-size: px2rem(16px);
        line-height: px2rem(22px);
        text-align: center;
        @include respond-to(m) {
            display: block;
        }
    }
    .school-steps-list-wrapper {
        padding: 25px 0 35px;
        background: linear-gradient(178deg, rgba(249,182,43,1) 0%,rgba(249,182,43,1) 74%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
        background-size: 100% 175px;
        background-repeat: no-repeat;
        @include respond-to(xs) {
            padding: 65px 0 35px;
        }
        @include respond-to(m) {
            background-size: 100% 340px;
        }
    }
    .school-steps-list {
        margin: 0;
        padding: 0;
        font-size: 0;
        position: relative;
        transition: padding 0.25s ease-in-out;
    }
    .item-header-count {
        display: inline-block;
        -webkit-mask: url('../images/step-count.svg') no-repeat 100% 100%;
        mask: url('../images/step-count.svg') no-repeat 100% 100%;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-color: $color-blue-grey;
        width: 78px;
        height: 71px;
        text-align: center;
        color: $color-white;
        font-weight: bold;
        font-size: px2rem(24px);
        line-height: px2rem(65px);
        @include respond-to(xs) {
            font-size: px2rem(24px);
            line-height: px2rem(48px);
        }
        @include respond-to(m) {
            font-size: px2rem(46px);
            line-height: px2rem(72px);
            display: block;
            margin: 25px auto 0;
        }
    }
    .school-steps-list-item {
        display: inline-block;
        width: 25%;
        padding-right: 20px;
        vertical-align: top;
        text-align: left;
        font-size: px2rem(14px);
        cursor: pointer;
        @include respond-to(m) {
            font-size: px2rem(16px);
        }
        &:last-child {
            padding-right: 0;
        }
        .school-steps-list-item-header {
            box-shadow: none;
            background: none;
            padding-right: 5px;
            text-align: center;
            @include respond-to(xs) {
                padding: 10px;
                border-radius: 5px;
                background: $color-white-grey;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), inset 0 -2px 0 0 $color-blue-grey;
            }
            @include respond-to(m) {
                min-height: 238px;
            }

        }
        &.active {
            .item-header-count {
                background-color: $color-white;
                color: $color-blue-grey;
                @include respond-to(xs) {
                    background-color: $color-blue-grey;
                    color: $color-white;
                }
            }
            .school-steps-list-item-header {
                @include respond-to(xs) {
                    position: relative;
                    box-shadow: inset 0 -2px 0 0 $color-orange;
                    &:after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        margin-left: -7px;
                        bottom: -8px;
                        display: block;
                        width: 15px;
                        height: 15px;
                        background: $color-white-grey;
                        border-bottom: 2px solid $color-orange;
                        border-right: 2px solid $color-orange;
                        transform: rotate(45deg);
                    }
                }
            }
            .school-steps-list-item-content {
                display: block;
            }
        }
    }
    .school-steps-list-item-content {
        position: absolute;
        width: 100%;
        left: 0;
        top: 100px;
        display: none;
        padding: 25px 0;
        @include respond-to(m) {
            padding: 45px 50px;
            top: 238px;
        }
        .mobile-only {
            display: block;
            float: none;
            @include respond-to(m) {
                display: none;
            }
        }
    }
}