.school-testimony {
    .school-testimony-picture {
        text-align: center;
        margin: 35px auto 10px;
    }
    .school-testimony-role {
        text-align: center;
        font-size: px2rem(13px);
        color: $color-dark-grey;
        font-weight: 600;
    }
    .school-testimony-content {
        position: relative;
        max-width: 720px;
        margin: 35px auto 85px;
        color: $color-middle-grey;
        font-size: px2rem(14px);
        text-align: justify;
        b,strong {
            font-weight: 600;
        }
        h4,h3,h2 {
            text-transform: uppercase;
            color: $color-middle-grey;
            font-weight: 700;
            font-size: px2rem(16px);
            margin: 0 0 35px;
        }
        @include respond-to(m) {
            &:before {
                content: '';
                position: absolute;
                background: url('../images/citation-start.svg') no-repeat;
                left: -115px;
                top: -20px;
                width: 59px;
                height: 49px;
            }
            &:after {
                content: '';
                position: absolute;
                background: url('../images/citation-end.svg') no-repeat;
                right: -100px;
                bottom: -35px;
                width: 60px;
                height: 49px;
            }
        }
    }
}