.is-desktop {
    .site-navigation-toggle {
        display: none;
    }
    .nav-menu {
        list-style: none;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        margin: 0;
        padding: 0;
        background: $color-white;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        z-index: 102;
        &.visible {
            visibility: visible;
            opacity: 1;
        }
        @include respond-to(m) {
            visibility: visible;
            opacity: 1;
            padding: 0;
            text-align: right;
            display: inline-block;
            width: auto;
            position: relative;
            top: inherit;
            margin: 15px 0;
        }
        > .menu-item {
            display: block;
            padding: 15px 0;
            border-bottom: 1px solid $color-blue-grey;
            @include respond-to(m) {
                display: inline-block;
                border: none;
                margin-left: 25px;
            }
            > a {
                text-decoration: none;
                font-size: px2rem(12px);
                display: block;
                text-align: center;
                color: $color-blue-grey;
                transition: color 0.3s;
                @include respond-to(m) {
                    padding: 10px;
                    cursor: pointer;
                    user-select: none;
                    -webkit-touch-callout: none;
                    -khtml-user-select: none;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    position: relative;
                    font-size: px2rem(14px);
                }
                &:hover,
                &:focus {
                    outline: none;
                    color: $color-orange;

                }
                &:before,
                &:after {
                    @include respond-to(l) {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        opacity: 0;
                        border: 2px solid $color-orange;
                        transition: transform 0.3s, opacity 0.3s;
                        transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
                    }
                }
                &:before {
                    @include respond-to(l) {
                        top: 0;
                        left: 0;
                        border-width: 2px 0 0 2px;
                        transform: translate3d(10px, 10px, 0);
                    }
                }
                &:after {
                    @include respond-to(l) {
                        right: 0;
                        bottom: 0;
                        border-width: 0 2px 2px 0;
                        transform: translate3d(-10px, -10px, 0);
                    }
                }
            }
            &.active,
            &.current_page_item,
            &.current-menu-parent {
                > a {
                    color: $color-orange;
                    &:before,
                    &:after {
                        @include respond-to(l) {
                            opacity: 1;
                            transform: translate3d(0, 0, 0);
                        }
                    }
                }

            }
            &.active {
                .sub-menu {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .sub-menu {
        position: absolute;
        background: $color-white;
        padding: 35px 85px 15px;
        z-index: 999;
        top: 100px;
        left: 0;
        width: 100%;
        text-align: left;
        visibility: hidden;
        opacity: 0;
        > .menu-item {
            list-style: none;
            display: inline-block;
            margin: 0 20px 20px 0;
            &:last-child {
                margin-right: 0;
            }
            &.current_page_item {
                a {
                    color: $color-orange;
                }
            }
            a {
                font-size: px2rem(13px);
                text-decoration: none;
                color: $color-dark-grey;
                transition: color 0.25s ease-in-out;
                &:hover {
                    color: $color-orange;
                }
            }
        }
    }
}
