.is-mobile {
    .site-navigation-toggle {
        display: block;
        z-index: 999;
        &:before {
            content: "";
            display: block;
            pointer-events: all;
            position: absolute;
            right: 20px;
            top: 15px;
            width: 16px;
            height: 4px;
            border-top: 2px solid $color-blue-grey;
            border-bottom: 2px solid $color-blue-grey;
            cursor: pointer;
            @include respond-to(s) {
                width: 26px;
                top: 37px;
                border-top: 3px solid $color-blue-grey;
                border-bottom: 3px solid $color-blue-grey;
                height: 6px;
                right: 5%;
            }
        }
        &:after {
            content: "";
            display: block;
            pointer-events: all;
            position: absolute;
            right: 20px;
            top: 27px;
            width: 9px;
            height: 5px;
            border-top: 2px solid $color-blue-grey;
            cursor: pointer;
            transition: width 0.25s ease-in-out;
            @include respond-to(s) {
                width: 13px;
                right: 5%;
                top: 55px;
                border-top: 3px solid $color-blue-grey;
            }
        }
    }
    .nav-menu {
        list-style: none;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        margin: 0;
        padding: 0;
        background: $color-white;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        z-index: 102;
        @include respond-to(s) {
            top: 94px;
        }
        &.visible {
            visibility: visible;
            opacity: 1;
        }
        > .menu-item {
            background: $color-white-grey;
            text-align: left;
            font-size: px2rem(14px);
            > a {
                text-decoration: none;
                display: block;
                padding: 15px;
                color: $color-blue-grey;
                transition: color 0.3s;
            }
            &.menu-item-has-children {
                position: relative;
                &:after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    right: 12px;
                    top: 20px;
                    width: 5px;
                    height: 5px;
                    border-right: 1px solid $color-blue-grey;
                    border-bottom: 1px solid $color-blue-grey;
                    transform: rotate(45deg);
                    transition: transform 0.25s ease-in-out;
                }
            }
            &.active,
            &.current-menu-parent,
            &.current_page_item {
                > a {
                    font-weight: 700;
                }
                .sub-menu {
                    display: block;
                }
            }
            &.active {
                &.menu-item-has-children {
                    &:after {
                        border-right: 2px solid $color-blue-grey;
                        border-bottom: 2px solid $color-blue-grey;
                        transform: rotate(-135deg);
                    }
                }
            }
        }
    }
    .sub-menu {
        display: none;
        padding: 0;
        margin: 0;
        background: $color-white;
        > .menu-item {
            list-style: none;
            display: block;
            padding: 5px 15px;
            background: $color-white;
            a {
                font-size: px2rem(12px);
                text-decoration: none;
                color: $color-blue-grey;
                transition: color 0.25s ease-in-out;
            }
            &.active,
            &.current_page_item {
                a {
                    color: $color-orange;
                }
            }
        }
    }
}