.top-header {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 10%;
    height: 90%;
    z-index: 9;
    text-align: center;
    @include respond-to(s) {
        top: 20%;
        height: 80%;
    }
    > div {
        display: inline-block;
        height: 100%;
        @include verticalAlignMiddle();
        @include respond-to(m) {
            display: block;
        }
    }
    @include respond-to(l) {
        position: static;
        background: $color-blue-grey;
        line-height: 30px;
        text-align: right;
        width: 100%;
    }
    .svg {
        width: 16px;
        height: 16px;
        @include respond-to(s) {
            width: 26px;
            height: 26px;
        }
        @include respond-to(l) {
            width: 16px;
            height: 16px;
        }
        path {
            fill: $color-blue-grey;
            @include respond-to(l) {
                fill: $color-white;
            }
        }
    }
    .top-header-social {
        text-decoration: none;
        cursor: pointer;
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
}