.work-content {
    padding-bottom: 30px;
    p {
        font-size: px2rem(13px);
        color: $color-middle-grey;
    }
    h2 {
        font-size: px2rem(16px);
        font-weight: 700;
        color: $color-middle-grey;
        text-align: left;
        margin: 30px 0;
        text-transform: uppercase;
    }
    ul {
        margin-left: 0;
        padding-left: 25px;
    }
    li {
        font-size: px2rem(13px);
        padding-left: 15px;
        color: $color-middle-grey;
    }
}