.work-taxonomy {
    padding-bottom: 55px;
    .work-taxonomy-list {
        padding: 0;
        margin: 0;
    }
    .work-taxonomy-item {
        list-style: none;
        display: block;
        &.visible {
            .work-taxonomy-item-header {
                &:after {
                    top: 20px;
                    transform: rotate(-135deg);
                }
            }
            .work-taxonomy-item-work-list {
                display: block;
            }
        }
        .work-taxonomy-item-header {
            position: relative;
            background: $color-orange;
            padding: 10px 30px 10px 20px;
            cursor: pointer;
            margin-bottom: 5px;
            &:after {
                content: "";
                display: inline-block;
                position: absolute;
                right: 20px;
                top: 15px;
                width: 10px;
                height: 10px;
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
                transform: rotate(45deg);
                transition: transform .25s ease-in-out;
            }
        }

        .work-taxonomy-item-work-list {
            display: none;
            font-size: 0;
            padding: 20px 0 10px;
            margin: 0;
        }
        .work-taxonomy-item-work-item {
            list-style: none;
            display: block;
            width: 100%;
            max-width: 460px;
            margin: 0 auto 20px;
            font-size: px2rem(16px);
            @include respond-to(m) {
                display: inline-block;
                width: 50%;
                vertical-align: top;
                margin: 0 0 20px;
                &.first {
                    padding-right: 10px;
                }
                &.last {
                    padding-left: 10px;
                }
            }
        }
        .work-taxonomy-item-work-item-wrapper {
            border-radius: 5px;
            background-color: $color-white-grey;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
            padding: 20px 45px 20px 20px;
            position: relative;
            min-height: 230px;
            overflow: hidden;
            p {
                color: $color-black-text;
                font-size: px2rem(13px);
                text-align: justify;
            }
            .button {
                position: absolute;
                bottom: -10px;
                right: -10px;
            }
        }
        h3 {
            font-size: px2rem(14px);
            line-height: px2rem(16px);
            text-align: left;
            font-weight: 700;
            color: $color-blue-grey;
            margin: 10px 0 20px;
            @include respond-to(s) {
                font-size: px2rem(16px);
                line-height: px2rem(20px);
            }
            @include respond-to(m) {
                font-size: px2rem(18px);
                line-height: px2rem(22px);
            }
        }
        .work-taxonomy-item-work-description {
            margin-bottom: 20px;
        }
    }
}