.blog-banner {
    position: relative;
    height: 550px;
    @include respond-to(l) {
        height: auto;
    }
    img {
        height: 100%;
        width: auto;
        position: absolute;
        left: -100%;
        display: block;
        @include respond-to(xs) {
            left: -35%;
        }
        @include respond-to(s) {
            left: -50%;
        }
        @include respond-to(m) {
            left: -50%;
        }
        @include respond-to(l) {
            height: auto;
            width: 100%;
            position: static;
        }
    }
    .blog-banner-content-wrapper {
        position: absolute;
        left: 0;
        bottom: 5%;
        width: 100%;
        @include respond-to(s) {
            bottom: 30%;
        }
    }
    .blog-banner-content {
        margin: auto;
    }
    .blog-banner-content-cta-list {
        padding: 0;
        margin: 35px 0 0;
        text-align: center;
        @include respond-to(s) {
            margin: 0;
        }
        .cta-list-item {
            display: block;
            @include respond-to(s) {
                display: inline-block;
            }
        }
    }
}