.blog-content {
    .blog-content-filter {
        background: $color-orange;
        padding: 35px 0;
        text-align: center;
        margin: 0 0 20px;
    }
    .blog-content-filter-wrapper {
        font-size: 0;
    }
    .blog-content-post-link {
        text-decoration: none;
    }
    .selectric-wrapper {
        display: block;
        font-size: px2rem(13px);
        border-bottom: 2px solid $color-grey-title;

        @include respond-to(m) {
            border-bottom: none;
            border-right: 2px solid $color-grey-title;
            width: 240px;
            display: inline-block;
        }
        border-radius: 5px 0 0 5px;
        & + .selectric-wrapper {
            border-radius: 0 5px 5px 0 0;
            border-right: none;
        }
    }
    .grid {
        padding: 0;
        transition: padding 0.25s ease-in-out;
        .grid-loader {
            display: none;
            position: absolute;
            left: 0;
            bottom: 22px;
            width: 100%;
            z-index: 99;
            img {
                display: block;
                margin: auto;
                animation: spin 1.4s infinite linear;
            }
        }
        &.loading {
            padding:0 0 50px;
            .grid-loader {
                display: block;
            }
        }
        .col-1-2 {
            width: 100%;
            float: none;
            @include respond-to(m) {
                float: left;
                width: 50%;
            }
        }
    }
}