.home-slider-bachelor {
    float: left;
    width: 100%;
    background: $color-white;
    .bx-wrapper {
        margin: 0 auto 55px auto;
        @include respond-to(s) {
            margin: 0 auto 25px auto;
        }
        .bx-controls-direction {
            display: none;
        }
        .bx-viewport {
            min-height: 400px;
            @include respond-to(m) {
                min-height: 420px;
            }
        }
        .bx-pager {
            text-align: center;
            @include respond-to(s) {
                display: none;
            }
            @include respond-to(m) {
                display: block;
            }
            .bx-pager-item {
                margin-right: 5px;
                display: inline-block;
                .bx-pager-link {
                    @include hide-text();
                    background: $color-grey-trans;
                    border-radius: 100%;
                    width: 8px;
                    height: 8px;
                }
                .active {
                    background: $color-blue-grey;
                }
            }
        }
    }
    .home-slider-bachelor-wrapper {
        overflow: hidden;
    }
    .home-slider-bachelor-slide {
        &:after {
            content: "";
            clear: both;
            overflow: auto;
            zoom: 1;
        }
    }
    .home-slider-bachelor-slide-thumb {
        img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 5px 5px 0 0;
        }
    }
    .home-slider-bachelor-slide-content {
        border: 1px inset $color-blue-grey;
        border-top: none;
        border-radius: 0 0 5px 5px;
        padding: 15px;
        min-height: 185px;
        .fourth-title {
            text-transform: uppercase;
            text-align: left;
            margin: 0 0 25px 0;
        }
        .button {
            max-width: 200px;
            display: block;
            margin: 20px auto 20px -100px;
            position: absolute;
            left: 50%;
            bottom: 0;
        }
    }
}
