.home-campus {
    float: left;
    width: 100%;
    background-color: $color-white-grey;
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
    .home-campus-wrapper {
        background: $color-white-grey;
        width: 100%;
        float: left;
        @include respond-to(s) {
            background: none;
        }
    }
    .col-1-2 {
        float: right;
        background: $color-white-grey;
        @include respond-to(s) {
            padding-left: 10%;
        }
        @include respond-to(xl) {
            padding-left: 0;
            padding-right: 25px;
        }
    }
    .home-campus-thumbnail {
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 10px;
        @include respond-to(s) {
            display: none;
        }
        img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }
    .home-campus-description {
        margin-top: 25px;
        padding-left: 20px;
        padding-right: 10px;
        text-align: center;
        line-height: px2rem(22px);
        @include respond-to(s) {
            padding-left: 0;
            text-align: left;
            margin-top: 75px;
        }
        b,strong {
            display: block;
            margin: auto;
            color: $color-dark-grey;
        }
    }
    .home-campus-cta {
        text-align: center;
        margin: 25px auto;
        @include respond-to(s) {
            margin: 65px auto;
            text-align: left;
        }
        @include respond-to(m) {
            margin: 85px auto;
        }
        a {
            @include respond-to(s) {
                min-width: 300px;
            }
        }
    }
}