.home-events {
    float: left;
    width: 100%;
    background: url('../images/event-mobile.png') no-repeat center center;
    background-size: cover;
    padding: 0 0 35px;
    @include respond-to(s) {
        background: url('../images/event.png') no-repeat center center;
        background-size: cover;
    }
    .third-title {
        color: $color-white;
        background: url("../images/logo-title-grey.png") top center no-repeat;
        @include respond-to(s) {
            text-align: center;
        }
        &:after {
            background: $color-white;
            @include respond-to(s) {
                left: 50%;
                margin-left: -16px;
            }
        }
    }
    .bx-wrapper {
        margin: 0 auto 25px;
        .bx-controls-direction {
            display: none;
        }
        .bx-viewport {
            min-height: 425px;
            box-shadow: 0 10px 10px 0 $color-orange-darker;
        }
        .bx-controls {
            margin-top: 15px;
        }
        .bx-pager {
            text-align: center;
            @include respond-to(s) {
                display: none;
            }
            .bx-pager-item {
                margin-right: 5px;
                display: inline-block;
                .bx-pager-link {
                    @include hide-text();
                    background: $color-white-trans;
                    border-radius: 100%;
                    width: 8px;
                    height: 8px;
                }
                .active {
                    background: $color-white;
                }
            }
        }
    }
    .home-events-slider {
        &:after {
            content: "";
            clear: both;
            overflow: auto;
            zoom: 1;
        }
    }
    .home-slider-events-slide-thumb {
        img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 5px 5px 0 0;
        }
    }
    .home-events-slide-content {
        position: relative;
        border: 1px solid $color-white;
        background: $color-white;
        border-top: none;
        border-radius: 0 0 5px 5px;
        padding: 15px;
        min-height: 185px;
        .fourth-title {
            text-transform: uppercase;
            text-align: left;
            margin: 0 0 10px 0;
            color: $color-black-light;
        }
        .home-events-slide-date {
            color: $color-black-light;
            font-size: px2rem(14px);
        }
        .home-events-slide-tags {
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 15px;
            padding-left: 15px;
            ul,li {
                margin: 0;
                padding: 0;
                font-size: px2rem(12px);
                display: inline-block;
                color: $color-black-light;

            }
            li {
                margin-right: 5px;
                &:before {
                    content: "#";
                    display: inline-block;
                }
            }
        }
    }
    .button {
        display: block;
        max-width: 230px;
        margin: auto;
        @include respond-to(s) {
            margin: 25px auto;
        }
        @include respond-to(m) {
            min-width: 300px;
            margin: 35px auto;
        }
    }
}