.home-jpo {
    float: left;
    width: 100%;
    .third-title {
        @include respond-to(s) {
            text-align: center;
            background-position: center center;
            padding: 35px 0;
            margin: 35px 0 0;
        }
        @include respond-to(m) {
            text-align: left;
            background-position: left top;
        }
        &:after {
            @include respond-to(s) {
                left: 50%;
                margin-left: -16px;
                bottom: 0;
            }
            @include respond-to(m) {
                left: 0;
                margin-left: 0;
            }
        }
    }
    .col-1-2 {
        background: $color-white;
        padding: 0;
        @include respond-to(s) {
            width: 100%;
        }
        @include respond-to(m) {
            width: 50%;
        }
    }
    .home-jpo-content {
        float: left;
        width: 100%;
        background: $color-white;
        @include respond-to(m) {
            background: none;
        }
    }
    .fourth-title {
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        font-size: px2rem(14px);
        color: $color-blue-grey;
        margin: 25px auto 25px;
        @include respond-to(s) {
            font-size: px2rem(16px);
        }
        @include respond-to(m) {
            text-align: left;
        }
    }
    .home-jpo-list {
        margin: 0;
        padding: 0;
        font-size: 0;
    }
    .home-jpo-list-item {
        list-style: none;
        margin-bottom: 15px;
        font-size: px2rem(14px);
        color: $color-dark-grey;
        @include respond-to(s) {
            width: 50%;
            display: inline-block;
            font-size: px2rem(16px);
        }
        @include respond-to(m) {
            margin-bottom: 30px;
        }
        .home-jpo-item-campus {
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            color: $color-dark-grey;
            display: block;
            @include respond-to(m) {
                text-align: left;
            }
        }
        .home-jpo-item-date {
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            @include respond-to(m) {
                text-align: left;
            }
            span {
                text-transform: inherit;
                font-weight: 400;
            }
        }
    }
    .button {
        display: block;
        margin: 35px auto;
        min-width: 250px;
        max-width: 250px;
        @include respond-to(s) {
            margin: 35px auto 55px;
            min-width: 300px;
            max-width: 300px;
        }
        @include respond-to(m) {
            margin: 35px 0 55px;
        }
    }
}