.home-main-slider {
    position: relative;
    z-index: 101;
    float: left;
    width: 100%;
    .home-slider {
        margin: 0;
        padding: 0;
    }
    .bx-controls {
        display: none;
    }
    .home-slider-image {
        position: relative;
        height: 550px;
        @include respond-to(l) {
            height: auto;
        }
        img {
            display: block;
            height: 100%;
            width: auto;
            position: absolute;
            right: -100%;
            @include respond-to(xs) {
                right: -80%;
            }
            @include respond-to(s) {
                right: -50%;
            }
            @include respond-to(m) {
                right: -15%;
            }
            @include respond-to(l) {
                height: auto;
                width: 100%;
                position: static;
            }
        }
    }
    .home-slider-content {
        position: absolute;
        top: 0;
        left: 5%;
        width: 90%;
        @include respond-to(s) {
            top: 50%;
            transform: translateY(-50%);
        }
        .main-title {
            color: $color-white;
            text-transform: uppercase;
            text-align: center;
            margin: 45px auto 0 auto;
            @include respond-to(s) {
                margin: 0;
                max-width: inherit;
            }
            b,strong {
                display: block;
            }
        }
        .second-title {
            color: $color-white;
            text-transform: capitalize;
            text-align: center;
            margin: 35px auto;
            font-weight: 200;
            max-width: 210px;
            @include respond-to(s) {
                max-width: inherit;
                margin: 15px 0 35px;
            }
            @include respond-to(l) {
                max-width: inherit;
            }
        }
    }
    .home-slider-bachelor-list {
        margin: 0;
        padding: 0;
        @include respond-to(s) {
            display: inline-block;
        }
        .home-slider-bachelor-item {
            list-style: none;
            display: inline-block;
        }
        .bachelor-list-sep {
            display: none;
            @include respond-to(s) {
                display: inline-block;
            }
        }
    }
    .home-slider-cta {
        .home-slider-cta-list {
            padding: 0;
            margin: 0;
            text-align: center;
        }
        .home-slider-cta-list-item {
            @include respond-to(s) {
                display: inline-block;
            }
            @include respond-to(m) {
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .home-slider-campus {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding-bottom: 35px;
        margin: 0;
        text-align: center;
        .home-slider-campus-list {
            margin: 0;
            padding: 0;
            display: block;
            text-align: center;
            color: $color-white;
            @include respond-to(s) {
                display: inline-block;
            }
        }
        .home-slider-campus-item {
            list-style: decimal;
            display: inline-block;
            color: $color-white;
            font-weight: 100;
            font-size: px2rem(14px);
            letter-spacing: 0.7px;
            @include respond-to(s) {
                font-size: px2rem(16px);
            }
        }
        .campus-list-sep {
            display: none;
            @include respond-to(s) {
                display: inline-block;
            }
        }
    }
}