.home-workshop {
    float: left;
    width: 100%;
    background: linear-gradient(142deg, #26236c, #453892 41%, #1b143f 84%, $color-blue-grey);
    padding-bottom: 35px;
    @include respond-to(m) {
        padding-bottom: 45px;
    }
    .third-title {
        background: url("../images/logo-title-grey.png") top center no-repeat;
        color: $color-white;
        @include respond-to(s) {
            margin: 35px 0 75px;
        }
        &:after {
            background: $color-white;
        }
    }
    .third-title {
        @include respond-to(s) {
            text-align: center;
            background-position: center top;
            &:after {
                left: 50%;
                margin-left: -16px;
            }
        }
    }
    .home-workshop-content {
        background: url('../images/workshop-mobile.png') no-repeat center center;
        width: 292px;
        min-height: 565px;
        display: block;
        margin: auto;
        position: relative;
        @include respond-to(s) {
            width: 671px;
            min-height: 238px;
            background: url('../images/workshop-tablet.png') no-repeat center center;
        }
        @include respond-to(m) {
            width: 941px;
            min-height: 238px;
            background: url('../images/workshop.png') no-repeat center center;
            padding: 0;
        }
        .home-workshop-item {
            position: absolute;
            color: $color-white;
            text-transform: uppercase;
            font-size: px2rem(14px);
            font-weight: 100;
            display: block;
            max-width: 145px;
            @include respond-to(s) {
                font-size: px2rem(16px);
            }
            &.item-0 {
                right: 0;
                top: 33px;
                padding-left: 60px;
                text-align: right;
                @include respond-to(s) {
                    left: 69px;
                    top: -3px;
                    max-width: 85px;
                    padding-left: 0;
                    text-align: left;
                }
                @include respond-to(m) {
                    left: 204px;
                }
            }
            &.item-1 {
                right: 0;
                top: 184px;
                padding-left: 60px;
                text-align: right;
                @include respond-to(s) {
                    left: 220px;
                    top: -3px;
                    max-width: 85px;
                    padding-left: 0;
                    text-align: left;
                }
                @include respond-to(m) {
                    left: 355px;
                }
            }
            &.item-2 {
                right: 0;
                top: 318px;
                padding-left: 60px;
                text-align: right;
                @include respond-to(s) {
                    left: 431px;
                    top: -3px;
                    max-width: 85px;
                    padding-left: 0;
                    text-align: left;
                }
                @include respond-to(m) {
                    left: 565px;
                }
            }
            &.item-3 {
                right: 0;
                top: 474px;
                padding-left: 55px;
                text-align: right;
                @include respond-to(s) {
                    left: 543px;
                    top: -3px;
                    max-width: 85px;
                }
                @include respond-to(m) {
                    left: 678px;
                }
            }
            &.item-4 {
                left: 0;
                top: 127px;
                padding-right: 25px;
                @include respond-to(s) {
                    left: -48px;
                    top: 197px;
                    padding-left: 55px;
                    text-align: right;
                    max-width: 195px;
                    padding-right: 0;
                }
                @include respond-to(m) {
                    left: 89px;
                }
            }
            &.item-5 {
                left: 0;
                top: 261px;
                padding-right: 55px;
                text-align: left;
                @include respond-to(s) {
                    left: 265px;
                    top: 197px;
                    padding-left: 55px;
                    text-align: left;
                    padding-right: 0;
                }
                @include respond-to(m) {
                    left: 400px;
                }
            }
            &.item-6 {
                left: 0;
                top: 398px;
                padding-right: 55px;
                text-align: left;
                @include respond-to(s) {
                    left: 491px;
                    top: 197px;
                    padding-left: 55px;
                    text-align: left;
                    padding-right: 0;
                }
                @include respond-to(m) {
                    left: 624px;
                }
            }
        }
    }
}