.home-zoom-article {
    float: left;
    width: 100%;
    background-color: $color-grey;
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    .home-zoom-article-wrapper {
        background: $color-grey;
        @include respond-to(s) {
            background: none;
        }
    }
    .third-title {
        margin-top: 0;
        @include respond-to(s) {
            margin: 25px 0 55px;
        }
    }
    .col-1-2 {
        background: $color-grey;
        width: 100%;
        padding: 0;
        margin: 0;
        @include respond-to(s) {
            width: 50%;
            padding-right: 2%;
        }
        @include respond-to(m) {
            padding-right: 25px;
        }
    }
    .home-zoom-article-wrapper {
        padding: 25px 0;
        @include respond-to(s) {
            padding: 0;
        }
    }
    .home-zoom-article-item {
        margin-bottom: 45px;
    }
    .home-zoom-article-thumbnail {
        @include respond-to(s) {
            display: none;
        }
        img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }
    .home-zoom-article-content {
        .fifth-title {
            margin: 10px 0;
        }
        .button {
            font-weight: 400;
            display: block;
            margin: 15px auto;
            max-width: 200px;
            @include respond-to(s) {
                margin: 25px 0;
            }
            @include respond-to(m) {
                margin: 65px 0;
            }
        }
    }
}