.campus-bachelor {
    position: relative;
    .campus-bachelor-list {
        margin: 0;
        padding: 0;
    }
    .campus-bachelor-list-item {
        list-style: none;
        max-width: 480px;
        margin: 0 auto 20px;
        @include respond-to(m) {
            max-width: inherit;
            margin: 0 0 20px;
        }
        &.first {
            @include respond-to(m) {
                padding-right: 10px;
            }
        }
        &.second {
            @include respond-to(m) {
                padding-left: 10px;
            }
        }
    }
    .campus-bachelor-list-item-wrapper {
        border: 1px solid $color-grey-border;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
    }
    .campus-bachelor-list-item-image {
        display: none;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        &.active {
            display: block;
            visibility: visible;
            opacity: 1;
        }
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .campus-bachelor-list-item-content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $color-blue-grey);
        @include verticalAlignMiddle();
    }
    .campus-bachelor-list-item-content-list {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: $color-white;
        margin: 0;
        padding: 0;
        font-size: 0;
        height: 65px;
        @include verticalAlignMiddle();
    }
    .campus-bachelor-list-item-content-item {
        list-style: none;
        font-size: px2rem(13px);
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        & + .campus-bachelor-list-item-content-item {
            position: relative;
            &:before {
                content: "";
                height: 33px;
                width: 1px;
                background: $color-grey-border;
                position: absolute;
                left: 0;
            }
        }
        .campus-bachelor-list-item-content-item-link {
            max-width: 110px;
            display: block;
            margin: auto;
            text-decoration: none;
            color: $color-blue-grey;
        }
    }
}