.campus-content {
    position: relative;
    @include respond-to(m) {
        background: rgba(12, 12, 36, 0.06) url("../images/bachelor-pattern.png");
    }
    &:before {
        content: '';
        position: absolute;
        background: $color-white;
        width: 50%;
        height: 100%;
        right: 0;
        top: 0;
    }
    .campus-content-wrapper {
        background: $color-white;
        width: 100%;
        padding: 20px 0;
        @include respond-to(m) {
            width: 66.6666%;
            padding: 20px;
        }

    }
    .campus-content-jpo {
        padding: 10px 20px;
        background: $color-orange;
        color: $color-white;
        float: left;
        width: 100%;
        margin: 0 0 20px;
        .campus-content-jpo-content {
            display: block;
            text-align: center;
            @include respond-to(s) {
                max-width: 335px;
                display: inline-block;
            }
            font-size: px2rem(16px);
            line-height: px2rem(22px);
        }
        .campus-content-jpo-content-day {
            font-size: px2rem(18px);
            text-transform: uppercase;
        }
        .campus-content-jpo-content-hour {
            display: block;
            font-size: px2rem(16px);
        }
        .button {
            display: block;
            margin: 15px auto;
            min-width: 150px;
            max-width: 150px;
            @include respond-to(s) {
                display: inline-block;
                vertical-align: top;
                margin: 1px 0;
                float: right;
            }
        }
    }
    .campus-content-info {
        h2 {
            text-transform: uppercase;
            font-size: px2rem(18px);
            font-weight: 700;
            color: $color-middle-grey;
        }
        p {
            color: $color-middle-grey;
            font-size: px2rem(13px);
            text-align: justify;
        }
    }
}