.campus-testimony {
    padding: 50px 0;
    @include respond-to(m) {
        padding: 50px 0 0 100px;
    }
    .bx-viewport {
        max-width: 535px;
        margin: auto;
        overflow: visible !important;
    }
    .campus-testimony-list {
        max-width: 480px;
        margin: auto;
        @include respond-to(m) {
            max-width: inherit;
        }
        padding: 0;
        display: block;
    }
    .campus-testimony-list-item {
        list-style: none;
    }
    .campus-testimony-header {
        text-align: center;
        color: $color-dark-grey;
        display: table;
        .campus-testimony-author {
            display: table-cell;
            vertical-align: middle;
            padding-left: 25px;
        }
        .campus-testimony-picture {
            display: table-cell;
            vertical-align: middle;
            img {
                max-height: 70px;
                width: auto;
            }
        }
        .campus-testimony-author-name {
            display: block;
            font-weight: 700;
            text-align: left;
            font-size: px2rem(22px);
            text-transform: uppercase;
        }
        .campus-testimony-author-role {
            display: block;
            text-align: left;
            font-size: px2rem(22px);
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .campus-testimony-content {
        position: relative;
        margin: 35px auto 85px;
        color: $color-black-text;
        font-size: px2rem(13px);
        text-align: justify;
        b,strong {
            font-weight: 600;
        }
        h4,h3,h2 {
            text-transform: uppercase;
            color: $color-middle-grey;
            font-weight: 700;
            font-size: px2rem(16px);
            margin: 0 0 35px;
        }
        @include respond-to(s) {
            &:before {
                content: '';
                position: absolute;
                background: url('../images/citation-start.svg') no-repeat;
                left: -85px;
                top: -30px;
                width: 59px;
                height: 49px;
            }
            &:after {
                content: '';
                position: absolute;
                background: url('../images/citation-end.svg') no-repeat;
                right: -80px;
                bottom: -25px;
                width: 60px;
                height: 49px;
            }
        }
    }
    .bx-controls {
        display: none;
    }
}