.rate-fee {
    .second-title {
        color: $color-middle-grey;
        margin-bottom: 25px;
    }
    .rate-fee-content {
        overflow-x: scroll;
        @include respond-to(m) {
            overflow: hidden;
        }
        table {
            width: 100%;
            font-size: px2rem(12px);
            border-collapse: separate;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.19);
            @include respond-to(m) {
                font-size: px2rem(14px);
            }
            tr {
                &:first-child {
                    background: $color-blue-grey;
                    font-weight: 700;
                    text-align: center;
                    text-transform: uppercase;
                    vertical-align: top;
                    border: none;
                    td {
                        color: $color-white;
                        border-left: 1px solid $color-blue-grey;
                        padding: 15px;
                        @include respond-to(m) {
                            padding: 15px 0;
                        }
                        &:first-child {
                            border-top-left-radius: 5px;
                        }
                        &:last-child {
                            border-top-right-radius: 5px;
                        }
                    }
                }
                &:last-child {
                    background: $color-white;
                    td {
                        &:first-child {
                            border-bottom-left-radius: 5px;
                        }
                        &:last-child {
                            border-bottom-right-radius: 5px;
                        }
                    }
                }
                td {
                    text-align: center;
                    color: $color-blue-grey;
                    border-bottom: 1px solid $color-grey-border;
                    &:first-child {
                        text-transform: uppercase;
                        color: $color-black;
                        padding: 30px;
                        text-align: left;
                        font-weight: 700;
                        max-width: 165px;
                        border-left: 1px solid $color-grey-border;
                        font-size: px2rem(12px);
                        @include respond-to(m) {
                            font-size: px2rem(16px);
                        }
                    }
                    &:last-child {
                        border-right: 1px solid $color-grey-border;
                    }
                }
            }
            em {
                font-style: italic;
                text-transform: initial;
                font-weight: 300;
                font-size: px2rem(12px);
                display: block;
            }
        }
        .rate-fee-content-condition {
            font-size: px2rem(13px);
            margin: 15px 0 55px;
            font-style: italic;
            color: $color-blue-grey;
            font-weight: 100;
        }
    }
}