.rate-funding {
    .icon {
        display: block;
        margin: auto;
    }
    .rate-funding-list {
        padding: 25px 0;
        @include respond-to(s) {
            padding: 45px 0 25px;
        }
        margin: 0;
        font-size: 0;
        .rate-funding-list-item {
            display: block;
            width: 100%;
            margin: 25px auto;
            max-width: 480px;
            @include respond-to(s) {
                display: inline-block;
                max-width: inherit;
                margin: 25px 0;
                width: 33.333%;
                font-size: px2rem(14px);
                padding-right: 20px;
                vertical-align: top;
            }

            &:last-child {
                padding-right: 0;
            }
        }
        .rate-funding-list-item-content {
            text-align: center;
        }
    }
}