.bachelor {
     .bachelor-banner,
     .bachelor-content,
     .bachelor-testimony {
         float: left;
         width: 100%;
     }
    .main-title {
        color: $color-white;
        text-align: center;
        font-size: px2rem(20px);
        margin-bottom: 0;
        @include respond-to(m) {
            font-size: px2rem(28px);
        }
    }
    .second-title {
        margin: 0;
    }
    .third-title {
        color: $color-white;
        display: inline-block;
        vertical-align: top;
        font-weight: 600;
        font-size: px2rem(18px);
        line-height: px2rem(24px);
        text-align: left;
        max-width: 330px;
        margin: 1px 0;
    }
    .fourth-title {
        color: $color-grey-title;
        text-transform: uppercase;
        font-weight: 100;
        font-size: px2rem(12px);
        margin: 0;
        text-align: center;
    }
    @import 'bachelor/banner';
    @import 'bachelor/aside';
    @import 'bachelor/content';
    @import 'bachelor/testimony';
}