.blog {
    .blog-banner,
    .blog-content {
        float: left;
        width: 100%;
    }
    .main-title {
        color: $color-white;
        text-align: center;
        font-size: px2rem(20px);
        margin-bottom: 0;
        @include respond-to(m) {
            font-size: px2rem(28px);
        }
    }
    .second-title {
        color: $color-black-light;
        text-transform: uppercase;
        font-weight: 700;
        text-align: left;
        margin: 0;
        font-size: px2rem(18px);
    }
    .third-title {
        color: $color-blue-grey;
        font-size: px2rem(18px);
        line-height: px2rem(24px);
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }
    p {
        color: $color-blue-grey;
        font-size: px2rem(13px);
        margin: 0;
    }
    @import 'blog/banner';
    @import 'blog/content';
    @import 'blog/post';
}