.campus {
    .campus-banner,
    .campus-content,
    .campus-testimony {
        float: left;
        width: 100%;
    }
    .main-title {
        color: $color-white;
        text-align: center;
        font-size: px2rem(20px);
        margin-bottom: 0;
        @include respond-to(m) {
            font-size: px2rem(28px);
        }
    }
    .fourth-title {
        text-transform: uppercase;
        font-size: px2rem(18px);
        font-weight: 400;
        color: $color-middle-grey;
    }
    .third-title {
        color: $color-white;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        font-size: px2rem(26px);
        display: inline-block;
    }
    @import 'campus/banner';
    @import 'campus/aside';
    @import 'campus/content';
    @import 'campus/testimony';
    @import 'campus/bachelors';
}