.default {
    .default-banner,
    .default-content {
        float: left;
        width: 100%;
    }
    .main-title {
        color: $color-white;
        text-align: center;
        font-size: px2rem(20px);
        margin-bottom: 0;
        @include respond-to(m) {
            font-size: px2rem(28px);
        }
    }
    .second-title {
        font-size: px2rem(18px);
        font-weight: 700;
        color: $color-blue-grey;
        text-align: left;
        margin: 25px auto 15px;
    }
    .third-title {
        font-size: px2rem(16px);
        text-align: center;
        font-weight: 700;
        color: $color-middle-grey;
        margin: 10px auto;
    }
    p {
        font-size: px2rem(13px);
        color: $color-middle-grey;
        margin: 0;
    }
    @import 'default/banner';
    @import 'default/content';
}