.home {
    .third-title {
        text-transform: uppercase;
        text-align: center;
        background: url("../images/logo-title.png") top center no-repeat;
        background-size: contain;
        padding-top: 15px;
        position: relative;
        color: $color-blue-grey;
        @include respond-to(s) {
            margin: 35px 0 55px;
            padding-top: 25px;
        }
        b,strong {
            display: block;
        }
        @include respond-to(s) {
            text-align: left;
            background-position: top left;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -15px;
            background: $color-blue-grey;
            width: 15px;
            height: 5px;
            transform: skewX(25deg);
            left: 50%;
            margin-left: -7px;
            @include respond-to(s) {
                left: 0;
                margin: 0;
                width: 33px;
                bottom: -35px;
                height: 8px;
            }
        }
    }
    @import 'home/main-slider';
    @import 'home/bachelor';
    @import 'home/zoom-article';
    @import 'home/workshop';
    @import 'home/campus';
    @import 'home/events';
    @import 'home/jpo';
}