.jpo {
    .jpo-banner,
    .jpo-content {
        float: left;
        width: 100%;
    }
    .main-title {
        color: $color-white;
        text-align: center;
        font-size: px2rem(20px);
        margin-bottom: 0;
        @include respond-to(m) {
            font-size: px2rem(28px);
        }
    }
    .second-title {
        font-size: px2rem(18px);
        font-weight: 700;
        color: $color-blue-grey;
        text-align: left;
        margin: 30px 0;
    }
    .third-title {
        font-size: px2rem(18px);
        text-transform: uppercase;
        text-align: left;
        font-weight: 700;
        color: $color-blue-grey;
        margin: 0;
    }
    p {
        font-size: px2rem(13px);
        color: $color-middle-grey;
        margin: 0;
    }
    @import 'jpo/banner';
    @import 'jpo/content';
}