.post {
    .post-banner,
    .post-related,
    .post-content {
        float: left;
        width: 100%;
    }
    .main-title {
        color: $color-black;
        text-align: center;
        font-size: px2rem(24px);
        margin: 35px 0 5px;
        @include respond-to(m) {
            font-size: px2rem(32px);
        }
    }
    .second-title {
        position: relative;
        color: $color-blue-grey;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        font-size: px2rem(18px);
        margin: 0;
        &:after {
            content: "";
            position: absolute;
            bottom: -15px;
            background: $color-blue-grey;
            width: 15px;
            height: 5px;
            transform: skewX(25deg);
            left: 50%;
            margin-left: -7px;
            @include respond-to(s) {
                width: 33px;
                bottom: -20px;
                height: 8px;
            }
        }
    }
    .third-title {
        color: $color-blue-grey;
        font-size: px2rem(16px);
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 30px;
        text-align: center;
        @include respond-to(m) {
            text-align: left;
        }
    }
    p {
        color: $color-black;
        font-size: px2rem(14px);
        margin: 0;
    }
    @import 'post/banner';
    @import 'post/content';
    @import 'post/related';
}