.school {
    .school-banner,
    .school-testimony,
    .school-steps {
        float: left;
        width: 100%;
    }
    .main-title {
        color: $color-white;
        text-align: center;
        font-size: px2rem(20px);
        margin-bottom: 0;
        @include respond-to(m) {
            font-size: px2rem(28px);
        }
    }
    .second-title {
        font-size: px2rem(18px);
        font-weight: 600;
        color: $color-dark-grey;
        text-align: center;
        margin: 0 auto;
    }
    @import 'school/banner';
    @import 'school/testimony';
    @import 'school/steps';
}