.stage {
    .stage-banner,
    .stage-content {
        float: left;
        width: 100%;
    }
    .main-title {
        color: $color-white;
        text-align: center;
        font-size: px2rem(20px);
        margin-bottom: 0;
        @include respond-to(m) {
            font-size: px2rem(28px);
        }
    }
    h2 {
        color: $color-blue-grey;
        text-transform: uppercase;
        font-weight: 700;
        text-align: left;
        margin: 20px 0 0;
        font-size: px2rem(18px);
        @include respond-to(m) {
            font-size: px2rem(20px);
        }
    }
    h3 {
        position: relative;
        color: $color-blue-grey;
        font-weight: 700;
        text-transform: uppercase;
        margin: 35px 0;
        font-size: px2rem(14px);
        @include respond-to(m) {
            font-size: px2rem(16px);
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            background: $color-orange;
            width: 20px;
            height: 3px;
            transform: skewX(25deg);
            left: 0;
        }
    }
    p {
        color: $color-blue-grey;
        font-size: px2rem(13px);
        margin: 0;
    }
    @import 'stage/banner';
    @import 'stage/content';
}