.work {
    .work-banner,
    .work-content,
    .work-taxonomy {
        float: left;
        width: 100%;
    }
    .main-title {
        color: $color-white;
        text-align: center;
        font-size: px2rem(20px);
        margin-bottom: 0;
        @include respond-to(m) {
            font-size: px2rem(28px);
        }
    }
    .second-title {
        font-size: px2rem(11px);
        font-weight: 600;
        color: $color-white;
        text-align: left;
        margin: 0;
        text-transform: uppercase;
        @include respond-to(s) {
            font-size: px2rem(14px);
        }
        @include respond-to(m) {
            font-size: px2rem(18px);
        }
    }
    .third-title {
        font-size: px2rem(14px);
        line-height: px2rem(16px);
        text-align: left;
        font-weight: 700;
        color: $color-blue-grey;
        margin: 0 0 20px;
        @include respond-to(s) {
            font-size: px2rem(16px);
            line-height: px2rem(20px);
        }
        @include respond-to(m) {
            font-size: px2rem(18px);
            line-height: px2rem(22px);
        }
    }
    p {
        font-size: px2rem(13px);
        color: $color-middle-grey;
        margin: 0;
    }
    @import 'work/banner';
    @import 'work/content';
    @import 'work/taxonomy';
}