.documentation-content {
    margin-bottom: 40px;
    @include respond-to(s) {
        margin: 0;
    }
    .documentation-content-list {
        margin: 0;
        padding: 0;
        font-size: 0;
    }
    .documentation-content-list-item {
        display: block;
        @include respond-to(s) {
            display: inline-block;
            vertical-align: top;
            padding-right: 20px;
            width: 50%;
        }
        @include respond-to(m) {
            width: inherit;
            &.last {
                padding-right: 0;
            }
        }
        &.selected {
            .documentation-content-list-item-wrapper {
                background: $color-grey-selected;
            }
        }
    }
    .documentation-content-list-item-wrapper {
        border-radius: 5px;
        background:$color-white;
        border: solid 1px $color-grey-border;
        transition: all 0.25s ease-in-out;
        padding: 20px 25px;
        margin-bottom: 10px;
        cursor: pointer;
        width: 100%;
        @include respond-to(m) {
            width: 220px;
        }
    }
    .documentation-content-list-item-date {
        text-transform: uppercase;
        color: $color-blue-grey;
        font-size: px2rem(14px);
        span {
            text-transform: inherit;
        }
    }
    .wpcf7 {
        span.wpcf7-not-valid-tip {
            color: $color-orange;
        }
        .form-control {
            margin: 25px 0;
            input,textarea {
                color: $color-blue-grey;
                border-bottom: 1px solid $color-blue-grey;
            }
            label {
                color: $color-blue-grey;
            }
            &.is-filled {
                label {
                    font-weight: 700;
                }
            }
            .wpcf7-not-valid-tip {
                color: $color-orange;
            }
            &.form-control-textarea {
                &:after {
                    display: none;
                }
            }
        }
        .form-submit {
            position: relative;
            display: block;
            margin: auto;
            text-align: center;
            padding: 25px 0 0;
            .ajax-loader {
                top: 38px;
            }
            input {
                border: none;
            }
        }
        .hidden {
            display: none;
        }
        .documentation-success {
            display: none;
        }
    }
    &.is-sent {
        .documentation-content-wrapper {
            display: none;
        }
        .documentation-success {
            display: block;
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
        &.Telecharger,
        &.Download {
            .documentation-success-courriel {
                display: none;
            }
        }
        &.Recevoir,
        &.Receive {
            .documentation-success-download {
                display: none;
            }
        }
    }
    .documentation-success {
        display: none;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100px);
        transition: all 0.25s ease-in-out;
        .documentation-success-wrapper {
            max-width: 480px;
            margin: 0 auto 55px;
            & > svg {
                display: block;
                margin: 25px auto;
            }
            p {
                font-size: px2rem(14px);
                color: #1c2e36;
                text-align: center;
                font-weight: 400;
                b,strong {
                    font-weight: 600;
                    font-size: px2rem(16px);
                }
            }
        }
        .documentation-success-download {
            font-size: 0;
        }
        .documentation-success-download-documentation,
        .documentation-success-download-dossier {
            text-align: center;
            margin-bottom: 20px;
            @include respond-to(m) {
                display: inline-block;
                vertical-align: top;
                width: 50%;
                margin-bottom: 0;
            }
        }
        .third-title {
            text-align: center;
            margin: 25px 0 0;
            font-size: px2rem(14px);
        }
    }
}