.cursus-section {
    .cursus-section-list {
        padding: 25px 0;
        margin: 0;
        font-size: 0;
        .cursus-section-list-item {
            font-size: px2rem(16px);
            display: block;
            width: 100%;
            margin: 0 auto 20px;
            max-width: 300px;
            @include respond-to(s) {
                display: inline-block;
                width: 33.3333%;
                padding-right: 20px;
                vertical-align: top;
                margin: 0;
            }

            &:last-child {
                padding-right: 0;
            }
            &.is-linked {
                position: relative;
                overflow: visible;
                &:after {
                    content: ' ';
                    display: block;
                    position: absolute;
                    z-index: 9;
                    bottom: -20px;
                    right: 50%;
                    width: 20px;
                    height: 20px;
                    background: transparent;
                    margin: 0 -10px 0;
                    background: $color-white-grey;
                    @include respond-to(s) {
                        right: 0;
                        top: 50%;
                        margin: -10px 0 0;
                    }
                }
                & + .is-linked {
                    position: relative;
                    overflow: visible;
                    z-index: 9;
                    &:before {
                        content: "";
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        z-index: 2;
                        top: -20px;
                        right: 50%;
                        background: transparent;
                        border-right: 1px solid $color-white-grey;
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                        margin-right: 10px;
                        box-shadow: 2px 0 0 0 rgba(0,0,0,.16);
                        @include respond-to(s) {
                            left: -20px;
                            top: 50%;
                            margin-top: 12px;
                            border-top: 1px solid $color-white-grey;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            box-shadow: 0 -2px 0 0 rgba(0,0,0,.16);
                        }
                    }
                    &:after {
                        content: "";
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        z-index: 2;
                        right: 50%;
                        top: -20px;
                        background: transparent;
                        border-left: 1px solid $color-white-grey;
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                        margin-right: -30px;
                        box-shadow: -2px 0 0 0 rgba(0,0,0,.16);
                        @include respond-to(s) {
                            left: -20px;
                            top: 50%;
                            margin-top: -30px;
                            border-bottom: 1px solid $color-white-grey;
                            border-bottom-left-radius: 8px;
                            border-bottom-right-radius: 8px;
                            box-shadow: 0 1px 0 0 rgba(0,0,0,.16);
                        }
                    }
                }
            }
        }
        .cursus-section-list-item-inner {
            background: $color-white-grey;
            border-radius: 5px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
            padding: 20px;
            position: relative;
            overflow: hidden;
        }
    }
    .cursus-section-list-item-header {
        min-height: 105px;
        @include respond-to(m) {
            min-height: 67px;
        }
    }
    .cursus-section-list-item-option {
        font-size: px2rem(13px);
        font-style: italic;
    }
    .cursus-section-list-item-duration {
        margin: 25px 0;
        i {
            background-color: $color-grey-border;
            &.active {
                background-color: $color-orange;
            }
        }
        p {
            font-size: px2rem(16px);
        }
    }
    .cursus-section-list-item-stage {
        .button {
            position: absolute;
            right: -10px;
            bottom: -10px;
        }
    }
}