/* Grid */

[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='col-'] [class*='col-']:last-child {
    padding-right: 0;
}

.grid {
    position: relative;
    width: 100%;
    margin:auto;
    max-width: $breakpoint-m;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

/* Content Columns */


.grid {
    margin: auto;
    width: 100%;
    max-width: 95%;
    @include respond-to(s) {
        position: relative;
        max-width: 90%;
    }
    @include respond-to(m) {
        max-width: $breakpoint-m;
        padding: 0 10px;
        &.grid-pad {
            padding-right: 15px;
        }
    }
}

[class*='mobile-'] {
    float: left;
    min-height: 1px;
}
.mobile-col-3-12 {
    width: 25%;
}
.mobile-col-9-12 {
    width: 75%;
}
@include respond-to(s) {
    [class*='col-'] {
        float: left;
        min-height: 1px;
    }
    .col-1-1 {
        width: 100%;
    }
    .col-2-3, .col-8-12 {
        width: 66.66%;
    }

    .col-1-2, .col-6-12 {
        width: 50%;
    }

    .col-1-3, .col-4-12 {
        width: 33.33%;
    }

    .col-1-4, .col-3-12 {
        width: 25%;
    }

    .col-1-5 {
        width: 20%;
    }

    .col-1-6, .col-2-12 {
        width: 16.667%;
    }

    .col-1-7 {
        width: 14.28%;
    }

    .col-1-8 {
        width: 12.5%;
    }

    .col-1-9 {
        width: 11.1%;
    }

    .col-1-10 {
        width: 10%;
    }

    .col-1-11 {
        width: 9.09%;
    }

    .col-1-12 {
        width: 8.33%
    }

    /* Layout Columns */

    .col-11-12 {
        width: 91.66%
    }

    .col-10-12 {
        width: 83.333%;
    }

    .col-9-12 {
        width: 75%;
    }

    .col-5-12 {
        width: 41.66%;
    }

    .col-7-12 {
        width: 58.33%
    }
}