/* Base Styles */
$base-font-size: 16px;

.main-title {
    font-family: $OpenSans;
    font-size: px2rem(30px);
    font-weight: 400;
    line-height: px2rem(38px);
    color: $color-blue-grey;
    @include respond-to(s) {
        font-size: px2rem(42px);
        line-height: px2rem(46px);
    }
    @include respond-to(l) {
        font-size: px2rem(45px);
    }
    b,strong {
        font-weight: 700;
    }
}
.second-title {
    font-family: $OpenSans;
    font-size: px2rem(16px);
    font-weight: 400;
    line-height: px2rem(24px);
    color: $color-blue-grey;
    @include respond-to(s) {
        font-size: px2rem(20px);
    }
    b,strong {
        font-weight: 700;
    }
}
.third-title {
    font-family: $OpenSans;
    font-size: px2rem(20px);
    line-height: px2rem(22px);
    font-weight: 400;
    letter-spacing: -0.5px;
    color: $color-blue-grey;
    @include respond-to(s) {
        font-size: px2rem(28px);
        line-height: px2rem(32px);
    }
    b,strong {
        font-weight: 700;
    }
}
.fourth-title {
    font-family: $OpenSans;
    font-size: px2rem(22px);
    font-weight: 700;
}
.fifth-title {
    font-family: $OpenSans;
    font-size: px2rem(18px);
    font-weight: 700;
}
.content-edito {
    font-family: $Lora;
}