.aside-cta {
    position: fixed;
    right: -155px;
    transition: all 0.25s ease-in-out;
    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
    .aside-cta-list {
        .cta-list-item {
            margin: 0 0 1px;
            .button {
                padding-left: 18px;
                text-align: left;
            }
            &.is-expanded {
                text-align: center;
                padding: 12px 5px;
                margin-left: -271px;
            }
        }
    }
}