.button {
    min-width: 198px;
    padding: 11px 0;
    border-radius: 100px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: px2rem(16px);
    line-height: px2rem(22px);
    font-weight: 400;
    transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
    background: transparent;
    margin: auto;
    &.orange {
        min-width: 200px;
        color: $color-white;
        background: $color-orange;
        i {
            background-color: $color-white;
            margin-right: 10px;
        }
    }
    &.white {
        border: 1px solid $color-blue-grey;
        color: $color-blue-grey;
    }
    &.full-white {
        border: 1px solid $color-white;
        color: $color-white;
    }
    &.white-blue {
        border: 1px solid $color-white;
        color: $color-white;
        background: transparent;
    }
    &.loading {
        @include hide-text();
        display: inline-block;
        &.white-blue {
            background: $color-white;
            color: $color-blue-grey;
        }
    }
    &.round {
        min-width: inherit;
        background: $color-orange;
        color: $color-white;
        font-weight: 400;
        text-align: left;
        border: 1px solid $color-orange;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        line-height: px2rem(52px);
        padding: 0 0 0 20px;
        font-size: px2rem(26px);
    }
    &.download {
        font-size: px2rem(12px);
        padding: 12px 5px;
        .svg {
            margin: 0 10px -2px 0;
            path {
                fill: $color-blue-grey;
            }
        }
    }
    &:hover {
        &.download {
            path {
                fill: $color-white;
            }
        }
        &.orange {
            background: $color-orange-darker;
        }
        &.white {
            background: $color-blue-dark;
            color: $color-white;
        }
        &.full-white {
            background: $color-white;
            color: $color-blue-grey;
        }
        &.white-blue {
            background: $color-white;
            color: $color-blue-grey;
        }
    }
}