.site {
    .main-contact {
        position: relative;
        float: left;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(130deg, #26236c, #453892 41%, #1b143f 84%, $color-blue-grey);
        .third-title {
            display: block;
            color: $color-white;
            background: url("../images/logo-title-grey.png") top center no-repeat;
            text-transform: uppercase;
            font-weight: 400;
            position: relative;
            padding-top: 25px;
            margin: 25px auto 45px;
            text-align: center;
            b {
                font-weight: 700;
                display: block;
            }
            @include respond-to(s) {
                text-align: center;
                margin: 35px auto 85px;
                font-size: px2rem(28px);
                line-height: px2rem(34px);
            }
            &:after {
                content: "";
                position: absolute;
                bottom: -15px;
                background: $color-white;
                width: 15px;
                height: 5px;
                transform: skewX(25deg);
                left: 50%;
                margin-left: -7px;
                @include respond-to(s) {
                    left: 50%;
                    margin: 0 0 0 -16px;
                    width: 33px;
                    bottom: -35px;
                    height: 8px;
                }
            }
        }
        .main-contact-gmap {
            display: none;
            position: absolute;
            width: 40%;
            height: 100%;
            right: 0;
            top: 0;
            @include respond-to(m) {
                display: block;
            }
        }
        &.has-map {
            .third-title {
                @include respond-to(m) {
                    text-align: left;
                    background-position: top left;
                    &:after {
                        left: 0;
                        margin: 0;
                    }
                }
            }
            .form-control {
                @include respond-to(m) {
                    width: 100%;
                    display: block;
                    padding-left: 0;
                    margin: 0 0 40px;
                    &.form-control-textarea {
                        margin: 0 0 40px;
                    }
                }

            }
            .gm-style {
                p {
                    margin: 0;
                    color: $color-blue-grey;
                    strong,b {
                        color: $color-middle-grey;
                    }
                    &:last-child {
                        margin: 0 0 5px;
                    }
                }
                h3 {
                    color: $color-blue-grey;
                    margin: 5px 0 0;
                }
            }
            .gm-style-iw {
                min-width: 350px;
                border-radius: 5px;
                background-color: rgba(248, 248, 248, 0.9);
                border: solid 1px #ffffff;
                padding: 10px 20px;
            }
        }
    }
}