.cta-list-item {
    list-style: none;
    margin: 10px auto;
    display: block;
    text-align: center;
    text-transform: uppercase;
    &.stage {
        .button {
            padding: 12px 35px;
        }
    }
    .button {
        font-size: px2rem(12px);
        padding: 12px 5px;
    }
    .svg {
        margin: 0 10px -2px 0;
        path {
            fill: $color-white;
        }
    }
    .documentation {
        svg {
            margin: 0 10px -5px 0;
        }
    }
    &.consult {
        svg {
            margin: 0 10px -5px 0;
        }
    }
}
