.site-footer {
    float: left;
    width: 100%;
    background: $color-white-grey;
    padding-bottom: 35px;
    .site-footer-identity {
        .site-logo {
            display: block;
            margin: 25px auto;
            text-align: center;
            @include respond-to(s) {
                text-align: left;
            }
            @include respond-to(m) {
                margin: 50px auto;
            }
        }
    }
    .site-footer-nav {
        @include respond-to(s) {
            text-align: center;
            margin-top: 65px;
        }
        @include respond-to(m) {
            margin-top: 50px;
        }
    }
    .site-footer-list,
    .footer-nav-menu {
        padding: 0;
        margin: 0;
        font-size: 0;
    }
    .footer-nav-menu {
        @include respond-to(m) {
            display: inline-block;
        }
    }
    .site-footer-list-item,
    .menu-item {
        list-style: none;
    }
    .site-footer-list-item {
        display: none;
        &.site-footer-list-item-right {
            display: block;
        }
        @include respond-to(m) {
            display: inline-block;
            max-width: 33.3333%;
            vertical-align: top;
            padding-right: 75px;
            &.site-footer-list-item-right {
                display: inline-block;
                margin-right: 0px;
            }
        }
    }
    .footer-nav-menu {
        margin-bottom: 25px;
        .menu-item {
            text-align: center;
            @include respond-to(s) {
                display: inline-block;
                margin-right: 20px;
            }
            @include respond-to(m) {
                display: block;
                margin: 0 0 5px;
                text-align: left;
                max-width: 155px;
            }
            a {
                text-decoration: none;
                color: $color-blue-grey;
                font-size: px2rem(12px);
                font-weight: 400;
            }
        }
    }
    .title-fourth {
        text-transform: uppercase;
        text-align: center;
        font-size: px2rem(14px);
        @include respond-to(s) {
            display: inline-block;
            margin-right: 20px;
            text-align: left;
        }
        @include respond-to(m) {
            font-size: px2rem(16px);
            display: block;
            margin: 0 0 15px;
        }
    }
    .menu-contact-container {
        @include respond-to(s) {
            display: inline-block;
        }
        @include respond-to(m) {
            display: block;
        }
    }
    .site-footer-cta-wrapper {
        width: 100%;
        @include respond-to(m) {
            width: 75%;
        }
    }
    .site-footer-cta {
        .site-footer-cta-list {
            padding: 0;
            margin: 0;
            @include respond-to(s) {
                text-align: center;
            }
            @include respond-to(m) {
                text-align: left;
            }
        }
        .cta-list-item {
            @include respond-to(s) {
                display: inline-block;
                margin-right: 5px;
                &:last-child {
                    margin-right: 15px;
                }
            }
        }
    }
    .site-footer-copyright {
        margin-top: 25px;
        text-align: center;
        display: block;
        font-size: px2rem(10px);
        @include respond-to(s) {
            font-size: px2rem(12px);
        }
        @include respond-to(m) {
            text-align: left;
        }
    }
}