.wpcf7,
.wpcf8 {
    .form-control {
        position: relative;
        overflow: hidden;
        margin: 45px auto 0;
        @include respond-to(m) {
            display: inline-block;
            width: 50%;
            margin: 25px auto 0;
        }
        &.three {
            @include respond-to(m) {
                width: 33.3333%;
            }
        }
        .wpcf7-form-control-wrap,
        .wpcf8-form-control-wrap,
        label {
            float: left;
            width: 100%;
            display: block;
            line-height: 10px;
        }
        input,textarea {
            background: transparent;
            width: 100%;
            border: none;
            border-bottom: 1px solid $color-white;
            transition: height 0.25s ease-in-out, min-height 0.25s ease-in-out;
            color: $color-white;
            font-size: px2rem(14px);
            &:focus {
                outline: none
            }
        }
        input {
            height: 10px;
            &:focus {
                height: 35px;
            }
        }
        textarea {
            min-height: 55px;
            max-height: 85px;
            border: none;
            resize: none;
            line-height: px2rem(22px);
            padding-top: 15px;
            @include respond-to(s) {
                min-height: 150px;
                padding-right: 185px;
            }
            &:focus {
                min-height: 85px;
                @include respond-to(s) {
                    min-height: 150px;
                }
            }
        }
        label {
            color: $color-white;
            font-weight: 400;
            letter-spacing: 0.85px;
            font-size: px2rem(13px);
            display: block;
        }
        .wpcf7-not-valid-tip,
        .wpcf8-not-valid-tip {
            position: absolute;
            top: -10px;
            right: 0;
            font-size: px2rem(11px);
            color: $color-white;
        }
        &.is-filled {
            input {
                height: 35px;
            }
            textarea {
                min-height: 85px;
                @include respond-to(s) {
                    min-height: 150px;
                }
            }
            label {
                color: $color-white-trans;
            }
            .wpcf7-not-valid-tip,
            .wpcf8-not-valid-tip {
                bottom: 0;
            }
        }
        &.last {
            @include respond-to(m) {
                padding-left: 25px;
            }
        }
        &.form-control-textarea {
            position: relative;
            @include respond-to(m) {
                padding-left: 0;
                margin-top: 75px;
                width: 100%;
            }
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                height: 1px;
                background: linear-gradient(135deg, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 15%,rgba(255,255,255,0) 100%);
            }
        }
        &.form-control-radio {
            display: block;
            width: 100%;
            margin-bottom: 25px;
            .wpcf7-list-item-label,
            .wpcf8-list-item-label {
                cursor: pointer;
                color: $color-blue-grey;
                font-size: px2rem(13px);
                margin-bottom: 15px;
                display: block;
            }
            input[type="radio"] {
                height: auto;
                display: none;
            }
            input[type=radio]:checked + .wpcf7-list-item-label:before,
            input[type=radio]:checked + .wpcf8-list-item-label:before {
                content: "\2713";
                font-size: px2rem(12px);
                color: $color-orange;
                text-align: center;
                border: 1px solid $color-orange;
            }
            .wpcf7-list-item,
            .wpcf8-list-item {
                display: block;
            }
            .wpcf7-list-item-label,
            .wpcf8-list-item-label {
                position: relative;
                padding-left: 25px;
                color: $color-blue-grey;
                font-weight: 400;
                &:before {
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-color: $color-white;
                    border: 1px solid $color-grey-border;
                    border-radius: 5px;
                }
            }
        }
    }
    .form-submit {
        text-align: center;
        margin: 25px auto;
        position: relative;
        @include respond-to(s) {
            position: absolute;
            right: 0;
            bottom: 0;
            text-align: right;
            margin: 20px auto;
            input {
                min-width: 180px;
            }
        }
        .ajax-loader {
            position: absolute;
            left: 50%;
            animation: spin 1.4s infinite linear;
            margin-left: -9px;
            top: 15px;
        }
    }
    .wpcf7-response-output,
    .wpcf8-response-output {
        border: none;
        color: $color-white;
        font-size: px2rem(12px);
        margin-bottom: 25px;
        @include respond-to(s) {
            position: absolute;
            bottom: -65px;
            width: 100%;
            left: 0;
        }
    }
    .wpcf7-form,
    .wpcf8-form {
        position: relative;
        max-width: 460px;
        margin: auto;
        @include respond-to(s) {
            margin-bottom: 55px;
        }
        @include respond-to(m) {
            max-width: inherit;
            font-size: 0;
        }
        &.invalid,
        &.failed {
            .ajax-loader {
                visibility: hidden;
            }
        }
    }
}
