header {
    position: relative;
    .main-header {
        position: static;
        .site-logo {
            display: block;
            width: 30px;
            margin: 5px auto;
            @include respond-to(s) {
                width: 60px;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        .menu-header-container {
            margin: 50px 0 0;
            @include respond-to(m) {
                text-align: right;
                margin: 0;
            }
        }
    }
}
@import 'header/top-header';
@import 'header/main-nav';
@import 'header/mobile-nav';