.icon {
    display: inline-block;
    &.icon-loader {
        mask-image: url("../images/loader.svg");
        mask: url("../images/loader.svg");
        animation: spin 1.4s infinite linear;
        transform: translateZ(0);
        width: 18px;
        height: 18px;
    }
    &.icon-loan {
         background: url("../images/icon-loan.svg");;
         width: 78px;
         height: 71px;
    }
    &.icon-department {
        background: url("../images/icon-department.svg");
        width: 78px;
        height: 71px;
    }
    &.icon-town {
        background: url("../images/icon-town.svg");
        width: 78px;
        height: 71px;
    }
    &.icon-calendar {
        mask-image: url("../images/icon-calendar.svg");
        mask: url("../images/icon-calendar.svg");
        width: 21px;
        height: 19px
    }
}