body {
    font-family: $OpenSans;
    overflow-x: hidden;
    p {
        margin: 0;
        padding: 0;
        font-size: px2rem(14px);
    }
    .site {
        overflow: hidden;
    }
    img.svg {
        display: none !important;
    }
}
* {
    box-sizing: border-box;
}
.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}