.selectric-wrapper {
    position: relative;
    cursor: pointer;
}

.selectric-responsive {
    width: 100%;
}

.selectric {
    background: $color-white-grey;
    position: relative;

    .label {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 20px;
        font-size: px2rem(13px);
        line-height: px2rem(45px);
        color: $color-grey-title;
        height: px2rem(45px);
        user-select: none;
        text-align: left;
    }

    .button {
        display: block;
        position: absolute;
        right: 0;
        top: 10px;
        width: 25px;
        height: 25px;
        color: $color-dark-grey;
        text-align: center;
        min-width: inherit;
        padding: inherit;
        &:after {
            content: " ";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-top-color: $color-dark-grey;
            border-bottom: none;
        }
    }
}

.selectric-focus .selectric {
    border-color: darken($color-grey-title, 20%);
}

.selectric-hover .selectric {

    .button {
        color: darken($color-grey-title, 10%);

        &:after {
            border-top-color: darken($color-grey-title, 10%);
        }
    }
}

.selectric-open {
    z-index: 9999;
    .selectric-items {
        display: block;
    }
}

.selectric-disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default;
    user-select: none;
}

.selectric-hide-select {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;

    select {
        position: absolute;
        left: -100%;
        display: none;
    }
}

.selectric-input {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: none !important;
    border: none !important;
    *font: 0/0 a !important;
    background: none !important;
}

.selectric-temp-show {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
}

/* Items box */
.selectric-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: $color-white;
    z-index: -1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    .selectric-scroll {
        height: 100%;
        overflow: auto;
    }

    .selectric-above & {
        top: auto;
        bottom: 100%;
    }

    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 12px;
        line-height: 20px;
        min-height: 20px;
    }

    li {
        display: block;
        padding: 12px 0 11px 20px;
        color: $color-grey-title;
        background: $color-white;
        cursor: pointer;
        text-align: left;
        transition: all 0.25s ease-in-out;
        &:hover {
            background: $color-blue-dark;
            color: $color-white;
        }
    }

    .disabled {
        filter: alpha(opacity=50);
        opacity: 0.5;
        cursor: default !important;
        background: none !important;
        color: #666 !important;
        user-select: none;
    }

    .selectric-group {
        .selectric-group-label {
            font-weight: bold;
            padding-left: 10px;
            cursor: default;
            user-select: none;
            background: none;
            color: #444;
        }

        &.disabled li {
            filter: alpha(opacity=100);
            opacity: 1;
        }

        li {
            padding-left: 25px;
        }
    }
}