.application-content-post-item {
    margin: 0 auto 20px;
    transform: scale(0.65);
    transition: all 0.25s ease-in-out;
    max-width: 200px;
    @include respond-to(m) {
        min-height: 200px;
        max-width: inherit;
        margin: 0 0 20px;
    }
    &.visible {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
    &.first {
        @include respond-to(m) {
            padding-right: 10px;
        }
    }
    &.last {
        @include respond-to(m) {
            padding-left: 10px;
        }
    }
    .application-content-post-item-wrapper {
        position: relative;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
        border-radius: 5px;
    }
    .application-content-post-item-content {
        background: $color-white;
        padding: 15px 20px;
        min-height: 115px;
    }
    .application-content-post-item-content-date {
        font-size: px2rem(16px);
        margin: 5px 0 10px;
        color: $color-black-light;
    }
    .application-content-post-item-content-tags {
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            padding: 0;
            list-style: none;
            display: inline-block;
            font-size: px2rem(13px);
            margin-right: 5px;
            color: $color-black-light;
            font-weight: 300;
            &:before {
                content: "#";
                display: inline-block;
            }
        }
    }
    img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 5px 5px 0 0;
    }
}