.application-section {
    .selectric-wrapper {
        display: block;
        font-size: px2rem(13px);
        border-bottom: 2px solid $color-grey-title;

        @include respond-to(m) {
            border-bottom: none;
            border-right: 2px solid $color-grey-title;
            width: 240px;
            display: inline-block;
        }
        border-radius: 5px 0 0 5px;
        & + .selectric-wrapper {
            border-radius: 0 5px 5px 0 0;
            border-right: none;
        }
    }
    .wpcf8 {
        span.wpcf8-not-valid-tip {
            color: $color-orange;
        }
        .wpcf8-form-control-file {
            height: 20px;
        }
        .form-control {
            margin: 25px 0;
            input,textarea {
                color: $color-blue-grey;
                border-bottom: 1px solid $color-blue-grey;
            }
            label {
                color: $color-blue-grey;
            }
            span {
                margin : 7px;
            }
            &.is-filled {
                label {
                    font-weight: 700;
                }
            }
            .wpcf8-not-valid-tip {
                color: $color-orange;
            }
            &.form-control-textarea {
                &:after {
                    display: none;
                }
            }
        }
        .form-submit {
            position: relative;
            display: block;
            margin: auto;
            text-align: center;
            padding: 25px 0 0;
            .ajax-loader {
                top: 38px;
            }
            input {
                border: none;
            }
        }
        .hidden {
            display: none;
        }
        .application-success {
            display: none;
        }
    }
}