.bachelor-content-aside {
    display: none;
    @include respond-to(m) {
        display: block;
    }
    .bachelor-content-aside-list {
        margin: 0;
        padding: 0 0 0 10px;
        max-width: 280px;
        transition: padding 0.25s ease-in-out;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 9px;
            height: 100%;
            border-left: 1px solid $color-grey-aside-border;
        }

    }
    .bachelor-content-aside-list-item {
        position: relative;
        list-style: none;
        display: block;
        margin-top: 30px;
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: -15px;
            top: 50%;
            margin-top: -4px;
            width: 7px;
            height: 7px;
            border-radius: 100%;
            background: $color-grey-aside-dot;
            border: 1px solid $color-grey-aside-dot;
        }
        &.active {
            &:before {
                background: $color-white;
                border-color: $color-blue-grey;
            }
            .bachelor-content-aside-list-item-link {
                font-weight: 700;
            }
        }
    }
    .bachelor-content-aside-list-item-link {
        color: $color-blue-grey;
        text-decoration: none;
        font-size: px2rem(18px);
        text-transform: uppercase;
    }
}