.bachelor-content {
    position: relative;
    @include respond-to(m) {
        background: rgba(12, 12, 36, 0.06) url("../images/bachelor-pattern.png");
    }
    &:before {
        content: '';
        position: absolute;
        background: $color-white;
        width: 50%;
        height: 100%;
        right: 0;
        top: 0;
    }
    .bachelor-content-wrapper {
        background: $color-white;
        width: 100%;
        padding: 20px 0;
        @include respond-to(m) {
            width: 66.6666%;
            padding: 20px;
        }

    }
    .bachelor-content-jpo {
        padding: 10px 20px;
        background: $color-orange;
        color: $color-white;
        margin: 0;
        float: left;
        width: 100%;
        .button {
            display: inline-block;
            vertical-align: top;
            min-width: 150px;
            float: right;
            margin: 1px 0;
        }
    }
    .bachelor-content-info {
        margin: 0;
    }
    .bachelor-content-info-list {
        padding: 0 20px;
        font-size: 0;
        text-align: center;
        float: left;
        width: 100%;
        margin: 20px 0;
    }
    .bachelor-content-info-list-item {
        display: inline-block;
        width: 33.3333%;
        font-size: px2rem(16px);
        padding-right: 20px;
        vertical-align: top;
        &:last-child {
            padding-right: 0;
        }
    }
    .bachelor-content-description {
        color: $color-grey-text;
        font-size: px2rem(12px);
    }
    .bachelor-content-inner {
        float: left;
        width: 100%;
        margin: 0 0 5px 0;
        &.active {
            .bachelor-content-header {
                &:after {
                    top: 20px;
                    transform: rotate(-135deg);
                }
            }
            .bachelor-content-content {
                display: block;
                padding: 20px 0;
            }
        }
    }
    .bachelor-content-header {
        position: relative;
        background: $color-orange;
        padding: 10px 20px;
        cursor: pointer;
        .third-title {
            text-transform: uppercase;
        }
        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            right: 20px;
            top: 15px;
            width: 10px;
            height: 10px;
            border-right: 2px solid $color-white;
            border-bottom: 2px solid $color-white;
            transform: rotate(45deg);
            transition: transform 0.25s ease-in-out;
        }
    }
    .bachelor-content-content {
        display: none;
        p {
            text-align: justify;
            color: $color-black-text;
            font-size: px2rem(13px);
        }
        h5 {
            color: $color-blue-grey;
            text-transform: uppercase;
            font-size: px2rem(16px);
            font-weight: 400;
            position: relative;
            b,strong {
                font-weight: 700;
                display: block;
            }
            &:after {
                content: "";
                position: absolute;
                bottom: -15px;
                background: $color-blue-grey;
                width: 25px;
                height: 5px;
                transform: skewX(25deg);
                left: 0;
            }
        }
        table {
            width: 100% !important;
            font-size: px2rem(13px);
            tr {
                td {
                    vertical-align: top;
                    padding-bottom: 5px;
                    &:first-child {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}