.post-banner {
    position: relative;
    height: 550px;
    @include respond-to(l) {
        height: auto;
    }
    img {
        height: 100%;
        width: auto;
        position: absolute;
        left: -100%;
        display: block;
        @include respond-to(xs) {
            left: -35%;
        }
        @include respond-to(s) {
            left: -50%;
        }
        @include respond-to(m) {
            left: -50%;
        }
        @include respond-to(l) {
            height: auto;
            width: 100%;
            position: static;
        }
    }
}