.post-related {
    margin: 0 0 40px;
    .post-related-list {
        padding: 0;
        margin: 0;
        font-size: 0;
    }
    .post-related-item {
        list-style: none;
        width: 100%;
        max-width: 300px;
        margin: 0 auto 20px;
        @include respond-to(m) {
            display: inline-block;
            vertical-align: top;
            width: 300px;
            margin: 0 10px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .post-related-item-link {
        text-decoration: none;
    }
    .post-related-item-wrapper {
        position: relative;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
        border-radius: 5px;
    }
    .post-related-item-content {
        background: $color-white;
        padding: 15px 20px;
        min-height: 140px;
    }
    .post-related-item-content-date {
        font-size: px2rem(16px);
        margin: 5px 0 10px;
        color: $color-black-light;
    }
    .post-related-item-content-tags {
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            padding: 0;
            list-style: none;
            display: inline-block;
            font-size: px2rem(13px);
            margin-right: 5px;
            color: $color-black-light;
            font-weight: 300;
            &:before {
                content: "#";
                display: inline-block;
            }
        }
    }
    img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 5px 5px 0 0;
    }
}