@mixin breakpoint($class) {

    @if $class == xxs {
        @media (max-width: 380px) { @content; }
    }
    @if $class == xs {
        @media (max-width: 720px) { @content; }
    }
    @else if $class == sm {
        @media (max-width: 920px) { @content; }
    }
    @else if $class == md {
        @media (max-width: 1024px) { @content; }
    }

    @else if $class == ml {
        @media (max-width: 1280px) { @content; }
    }
    @else if $class == xl {
        @media (max-width: 1580px) { @content; }
    }
    @else if $class == xxl {
        @media (max-width: 1720px) { @content; }
    }
    @else {
        @warn "Breakpoint mixin supports: xxs, xs, sm, md, ml, xl, xxl";
    }

}