//  Placeholder mixin
//
//  @author Benjamin Gondy <bgondy@webqam.fr>
@mixin placeholder {
    &::-moz-placeholder {
        opacity: 1; // Override Firefox's unusual default opacity
        @content;
    }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}