/// Wrap @content in media queries
///
/// @param {string} $name Media query name
/// @group media-queries
@mixin respond-to($name) {
  @if $name == xxs {
    @media only screen and (min-width: $breakpoint-xxs) {
      @content;
    }
  } @else if $name == xs {
    @media only screen and (min-width: $breakpoint-xs) {
      @content;
    }
  } @else if $name == s {
    @media only screen and (min-width: $breakpoint-s) {
      @content;
    }
  } @else if $name == m {
    @media only screen and (min-width: $breakpoint-m) {
      @content;
    }
  } @else if $name == l {
    @media screen and (min-width: $breakpoint-lx) AND (min-height: $breakpoint-s), screen and (min-width: $breakpoint-lx) {
      @content;
    }
  } @else if $name == xl {
    @media only screen and (min-width: $breakpoint-xl) {
      @content;
    }
  } @else if $name == fullHD {
    @media only screen and (min-width: $breakpoint-fullHD) {
      @content;
    }
  }
}

$breakpoint_real_tablet: "screen and (min-width: 1024px) AND (min-height: 768px), screen and (min-width: 768px)";
$breakpoint_tablet_FULL: "screen and (max-width:768px),screen AND (max-height:768px)";