//
//  Align vertically children
//
//  .children{
//      display: inline-block;
//      vertical-align: middle;
//  }
//
//  @see http://css-tricks.com/centering-in-the-unknown/
//
@mixin verticalAlignMiddle($pseudo-element: before) {
    //  Validate pseudo element
    @if index(before after, $pseudo-element) == null {
        @error "Unknown pseudo-element. Value must be 'before' or 'after', " + inspect($pseudo-element) + " given.";
    }

    &:#{$pseudo-element} {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }
}